
.appBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #d0f0d0;
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 30px;
   
}