.search {
    width: 390px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #388e3c;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.search:focus {
    border-color: #1b5e20;
}